*{
  margin: 0;
  padding:0;
  font-family: sans-serif;

}
.menu{
    margin-top: 17%;

}
.menu ul{
  display: inline-flex;
  margin:10% 3% 10% 3%;
}
.menu ul li{
  list-style: none;
  color: black;
  cursor:pointer;
}
.menu li img{
  width:80%;
  height:80%;
  border:solid 1px black;
}
.logo img{
  width: 50%;
  margin-top: 4%;
  margin-left: 5%;
  position: relative;
}

.icons p{
  width: 78%;
  text-align: center;
  font-size: 150%;
}
.icons{
  width: 300px;

}

.col{
  width: 90%;
  margin: auto;
  background-color: white;
  text-align: left;
}
.col h4{
  font-size: 190%;
}

.banner span{
  color: #03448c;
}
.banner p{
  margin-left: 1%;
}
.searchbox{
  width: 85%;
  position: relative;
  margin-left: 4%;
  margin-top: 5%;
}

.col p{
  font-size: 225%;
}
#myInput {
  background-image: url('../image/search.jpg');
  background-repeat: no-repeat;
  background-size: 15%;
  width: 85%;
  font-size: 190%;
  padding: 5% 0% 5% 18%;
  border: 1px solid #ddd;

}

#myUL li a {
  border: 1px solid black;
  margin-top: -1px; /* Prevent double borders */
  background-color: lightgrey;
  padding: 5%;
  text-decoration: none;
  font-size: 190%;
  color: black;
  display: block

}
