*{
  margin: 0;
  padding:0;
  font-family: sans-serif;
}
.menu ul{
  display: inline-flex;
  margin:50px;
}
.menu ul li{
  list-style: none;
  margin:0 20px;
  color: black;
  cursor:pointer;
}
.logo img{
  width: 270px;
  margin-top: 10px;
  margin-left:70px;
}
.title{
  display: block;
  margin-left: 10px;
  margin-top: -5px;
  font-size: 30px;
}

.icons p{
  width: 200px;
  font-size: 20px;
  margin: 0px 100px 0px 5px;
}

.menu li img{
  width:300px;
  height:200px;

  border:solid 1px black;
}
.col{
  width: 95%;
  margin: auto;
  background-color: white;
  text-align: left;
}

.banner span{
  color: #03448c;
}
.banenr p{
  margin-left: 1%;
}
.searchbox{
  width: 35%;
  position: absolute;
  left:39%;
  top: 2%;
}
