*{
  margin: 0;
  padding:0;
  font-family: sans-serif;
}
.menu ul{
  display: inline-flex;
  margin:50px;
}
.menu ul li{
  list-style: none;
  margin:0 20px;
  color: black;
  cursor:pointer;
}
.logo img{
  width: 250px;
  margin-top: 10px;
  margin-left:70px;
}
.active{
  color:#0066ff !important;
}
.signup-btn{
  top:40px;
  right:80px;
  position: absolute;
  text-decoration: none;
  color:black;
  border:2px solid transparent;
  border-radius: 30px;
  background-image:linear-gradient(#bfbfbf,#bfbfbf),radial-gradient(circle at top left,blue,red);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.signup-btn span{
  display: block;
  padding: 5px 15px;
}
.title{
  display: block;
  margin-left: 10px;
  margin-top: -5px;
  font-size: 30px;
}

.icons p{
  width: 200px;
  font-size: 20px;
  margin: 0px 0px 0px 5px;
}
.icons img{
  margin-left:0px;


}
.icons pre{
  width: 200px;
  font-size: 20px;
}
.container {
  margin:auto;
}


.menu li img{
   border:solid 1px black;
}
