.col h2{
  font-size: 180%;
}
  .logo img{
    width: 40%;
    margin-top: 3%;
    margin-left: -13%;
    position: relative;
  }
  .title{
    display: block;
    font-size: 140%;
    margin-left:1%;
  }
  .title span{
    font-size: 90%;
  }
  .icons p{
    margin-left: 3%;
    width: 200px;
    margin: 20px 10px 20px 20px;
  }
  .col{
    margin:auto;
    text-align: left;
    width: 80%;
    color:black;

  }
  .coll{
    margin:auto;
    width: 80%;
    color: black;
  }
  .col h5{
      font-size: 80%;
       font-weight: bold;
  }

  .banner span{
   color:#03448c;
  }
  .banner p{
    margin-left: 1%;
  }

  .banner{
    background-color: #fff;
  }
  .input-group span{
    font-size: 100%;
  }
.mapouter{
  left: -5%;
}
