
  .logo img{
    width: 180px;
    margin-top: 10px;
    margin-left: -40px;
  }
  .title{
    display: block;
    font-size: 30px;
  }
  .title span{
    font-size: 25px;
  }
  .icons p{
    width: 200px;
    margin: 20px 10px 20px 20px;
  }
  .col{
    margin: auto;
    text-align: left;
    width: 80%;
    color:black;

  }
  .coll{
    margin:auto;
    width: 80%;
    color: black;
  }
  .col h5{
      font-size: 15px;
       font-weight: bold;
  }
  .col-xs-5{
    margin-left: 45px;
  }

  .banner span{
   margin-left: 5px;
   font-size:30px;
   color:black;
  }
  .banner p{
    margin-left: 5px;
  }

  .banner{
    background-color: #fff;
  }
