
@media(max-width: 640px) { /*small phones max width px */
  .logo img{
    width: 40%;
    margin-top: 3%;
    margin-left: -13%;
  }
  .title{
    display: block;
    font-size: 140%;
    margin-left:1%;
  }
  .title span{
    font-size: 90%;
  }
  .icons p{
    margin-left: 3%;
    width: 200px;
    margin: 20px 10px 20px 20px;
  }
  .col{
    margin:auto;
    text-align: left;
    width: 80%;
    color:black;

  }
  .coll{
    margin:auto;
    width: 90%;
    color: black;
  }
  .col h5{
      font-size: 80%;
       font-weight: bold;
  }

  .banner span{
   color:#03448c;
  }
  .banner p{
    margin-left: 1%;
  }

  .banner{
    background-color: #fff;
  }
  .input-group span{
    font-size: 55%;
  }
}
@media (min-width: 640px) { body {font-size:1.2rem;} }
@media (min-width:960px) { body {font-size:1.5rem;} }
@media (min-width:1100px) { body {font-size:1.7rem;} }
