<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
	<link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
  <body ng-app="main">

    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
-->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Diffraction-limited angular resolution</h1><br>

  </div>
  </div>

      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse" >
          <p style="text-align:left;">This calculator will help you computes the radiance of a laser beam propagating in a multi-mode or double-clad optical fiber</p>
          <center><img src="image/F1-resize.png"></center>

            <b><h2 style="text-align:center;"> $\theta$ = arcsin(NA) </h2></b>
            <b><h2 style="text-align:center;"> $\Omega$ = $\pi$NA$^2$ &nbsp;&nbsp; $\Omega$ = 2$\pi$(1-cos$\theta$)</h2></b>
            <b><h2 style="text-align:center;"> A = $\pi\frac{D^2}{4}$  &nbsp;&nbsp;&nbsp;&nbsp; R = $\frac{P}{A\Omega}$</h2></b>
            <p style="text-align:left;">Optical Power, <b>P</b>; Fiber Core Diameter, <b>D</b>; Fiber Numerical Aperture, <b>NA</b>; Beam's Divergence Solid Angle, <b>$\Omega$</b>; Fiber Core Area, <b>A</b>; Radiance, <b>R</b>;</p>
      </div><br>
      <fieldset class="input">
        <legend>Input</legend>

          <div class="col">
            <h5>Optical Power, P: </h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="Optical" ng-change="myFunc()">
                <span class="input-group-addon">W</span>
            </div><br>
          </div>
          <div class="col">
            <h5>Fiber Core Diameter, D: </h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="diameter" ng-change="myFunc()">
                <span class="input-group-addon">µm</span>
            </div>
          </div>
            <div class="col">
              <h5>Fiber Numerical Aperture:</h5>
                  <input type="number" class="form-control" ng-model="NA" ng-change="myFunc()">
            </div><br>
      </fieldset><br>

        <fieldset class="output">
          <legend>Output</legend>
              <div class="col">
                <h5>Beam's Divergence Solid Angle, $\Omega$:</h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="ohm" readonly/>
                    <span class="input-group-addon">Steradian (sr)</span>
                </div>
              </div>
              <div class="col">
                <h5><br>Fiber Core Area, A:</h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="Area" readonly/>
                    <span class="input-group-addon">µm$^2$</span>
                </div>
              </div>

            <div class="col">
              <h5><br>Radiance R:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="Radiance" readonly/>
                  <span class="input-group-addon">W/(cm$^2$ sr)</span>
              </div>
            </div>
            <div class="col">
              <h5><br>Angle $\theta$:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="radian" readonly/>
                  <span class="input-group-addon">radian</span>
              </div><br>
            </div>
      </fieldset>
    </div>


  </body>



  <script>
    angular.module('main', [])
      .controller('control_panel', ['$scope', function($scope) {



        $scope.myFunc = function() {
          $scope.Diameter=$scope.diameter*1e-6


          $scope.radian=Math.asin($scope.NA);
          $scope.ohm=Math.PI*Math.pow($scope.NA,2);
          $scope.Area=(Math.PI*Math.pow($scope.Diameter,2)/4)*1e12;
          $scope.Radiance=($scope.Optical/($scope.Area*$scope.ohm))*1e5;


        };
      }]);
  </script>






  <style>
    fieldset {
      background-color: #e6e6e6;
    }

  </style>

  <!--OUTPUT-->
  <style>
    legend {
      font-size: 180%;
      border-radius: 10px 10px 0 0;
      background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
      background-color: #668cff;
      color: white;
      text-align: center;
    }
  </style>




  </style>
  </html>
