<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <title>Optics Calculator</title>

</head>
  <body ng-app="main">



        <div class="row" id="Diffraction_limited" ng-controller="control_panel">


          <div class="col">

          <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
    -->

      <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
      <div class="banner-content">
        <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Polarization Beat Length of a Polarization-maintaining (PM) Optical Fiber</h1><br>

      </div>
      </div>

          </div>

          <div class="col">
            <div id="info_Diffraction_limited" class="collapse" >
              <p style="text-align:left;">This Calculator Will Help You Computes The Polarization-maintianing (PM) Optical Fiber. You will only need to enter $\triangle n$ and wavelength or $\triangle \beta$ and wavelength</p>
              <center><img src="image/F2-resize.png"></center>
            <b><h2 style="text-align:center;"> $\triangle\beta$=$\frac{2 \pi}{\lambda}\triangle n$ &nbsp;&nbsp;&nbsp;&nbsp; $\triangle n$=$\frac{\lambda}{2 \pi}\triangle \beta$ &nbsp;&nbsp;&nbsp;&nbsp; $L_b$=$\frac{\lambda}{\triangle n}$</h2><br></b>
            <p style="text-align:left;">Index Difference <b>$\triangle n$</b>; The Propagation Constant difference between the polarization modes <b>$\triangle \beta$</b>; Wavelength <b>$\lambda$</b>; Beat Length <b>L$_b$</p>
      </div><br>

      <fieldset class="input">
        <legend>Input</legend>


          <div class="col">
            <h5><br>Index Difference, $\triangle n$: </h5>
              <input  type="number" class="form-control" ng-model="index" ng-change="N()">
          </div>


            <div class="col">
              <h5><br>Wavelength, $\lambda$:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="W" ng-change="all()">
                  <span class="input-group-addon">nm</span>
              </div><br>
            </div>

          <div class="col">
            <h5>The Propagation Constant difference between the polarization modes, $\triangle \beta$: </h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="b" ng-change="beta()">
                <span class="input-group-addon">$m^{-1}$</span>
            </div><br>
          </div>






      </fieldset><br>

        <fieldset class="output">
          <legend>Output</legend>

              <div class="col">
                <h5>Beat Length, L$_B$:</h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="Length" readonly/>
                    <span class="input-group-addon">mm</span>
                </div><br>
              </div>

      </fieldset>
    </div>



  </body>





  <script>
    angular.module('main', [])
      .controller('control_panel', ['$scope', function($scope) {



        $scope.N = function() {
          $scope.b=0;
          $scope.wavelength=$scope.W*1e-9;
          $scope.L=$scope.wavelength/$scope.index;
          $scope.Length=$scope.L*1e3;
        };

        $scope.beta = function() {
          $scope.index=0;
          $scope.wavelength=$scope.W*1e-9;
            $scope.n=($scope.wavelength/(2*Math.PI))*$scope.b;
            $scope.L=$scope.wavelength/$scope.n;
            $scope.Length=$scope.L*1e3;
          };


          $scope.all = function() {
          $scope.wavelength=$scope.W*1e-9;
          if($scope.b=="0")
          {  $scope.L=$scope.wavelength/$scope.index;
          $scope.Length=$scope.L*1e3;}
          if($scope.index=="0")
          {$scope.n=($scope.wavelength/(2*Math.PI))*$scope.b;
          $scope.L=$scope.wavelength/$scope.n;
          $scope.Length=$scope.L*1e3;
          }




        };
      }]);
  </script>



  <!--INPUT-->
<style>
  fieldset {
    background-color: #e6e6e6;
  }

</style>

<!--OUTPUT-->
<style>
  legend {
    font-size: 180%;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
    background-color: #668cff;
    color: white;
    text-align: center;
  }
</style>




</style>
</html>
