<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <title>Optics Calculator</title>

</head>


<body ng-app="main">

      <div class="row" id="Diffraction_limited" ng-controller="control_panel">


        <div class="col">

        <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
  -->

    <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
    <div class="banner-content">
      <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;The V Parameter/number of a Step-index Optical Fiber</h1><br>

    </div>
    </div>

        </div>

        <div class="col">
          <div id="info_Diffraction_limited" class="collapse" >
            <b><p style="text-align:left;">This calculator will help you computes the V Parameter/Number (also known as Normalized Frequency) of A Step-index Optical Fiber.
              </p>
              <center><img src="image/F3-resize.png" width="70%"></center>
              <h2 style="text-align:center;"> V$_{cutoff}$=2.405 &nbsp;&nbsp;&nbsp;&nbsp; $V$= $\frac{2 \pi}{\lambda}$aNA &nbsp;&nbsp;&nbsp;&nbsp;$\lambda_{cutoff}$=$\frac{2 \pi a NA}{V_{cutoff}}$ </h2><br>
              <p style="text-align:left;">Wavelength of signal <b>$\lambda$</b>; Core radius of the Fiber <b>a</b>; Numerical aperture <b>NA</b>; V parameter; Cutoff Wavelength <b>$\lambda$</b>;</p>

            </b></div><br>

        <fieldset class="input">
            <legend>Input</legend>
            <div class="col">
              <h5>Core Radius: </h5>
              <div class="input-group">
                  <input type="number" class="form-control" step="0.1" ng-model="core_radius" ng-change="myFunc()">
                  <span class="input-group-addon">μm</span>
              </div>
            </div>
              <div class="col">
                <h5>Numerical Aperture: </span></h5>
                    <input type="number" class="form-control" step="0.01" ng-model="NA" ng-change="myFunc()">
              </div>

                <div class="col">
                  <h5> Wavelength, $\lambda$: </h5>
                  <div class="input-group">
                      <input onchange="myFunction();" type="number" class="form-control" ng-model="wavelength" ng-change="myFunc()">
                      <span class="input-group-addon">nm</span>
                  </div><br>
                </div>
            </fieldset><br><br>

                <fieldset class="output">
                    <legend>Output</legend>
                        <div class="col">
                          <h5>V:</h5>
                              <input type="number" class="form-control" ng-model="V" readonly/>
                        </div>
                          <div class="col">
                            <h5>Cutoff Wavelength, $\lambda_{cutoff}$:</h5>
                            <div class="input-group">
                                <input type="number" class="form-control" ng-model="wlco" readonly/>
                                <span class="input-group-addon">nm</span>
                            </div><br>
                          </div>
                  </fieldset><br><br>
                </div>



              </body>

<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {
$scope.vcutoff=2.405;
$scope.WAVE=$scope.wavelength*1e-9;
$scope.core=$scope.core_radius*1e-6;
$scope.V=((2*Math.PI)/$scope.WAVE)*$scope.core*$scope.NA;
$scope.wlco=((2*Math.PI*$scope.core*$scope.NA)/$scope.vcutoff)*1e9;
      };
    }]);
</script>







    </div>
</body>
<style>
  fieldset {
    background-color: #e6e6e6;
  }

</style>

<!--OUTPUT-->
<style>
  legend {
    font-size: 180%;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
    background-color: #668cff;
    color: white;
    text-align: center;
  }
</style>




</style>
</html>
