<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <title>Optics Calculator</title>

</head>


<body ng-app="main">

      <div class="row" id="Diffraction_limited" ng-controller="control_panel">


        <div class="col">

        <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
  -->

    <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
    <div class="banner-content">
      <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Mode Field Diameter Calculator</h1><br>

    </div>
    </div>

        </div>

        <div class="col">
          <div id="info_Diffraction_limited" class="collapse" >
            <b><p style="text-align:left;">This calculator will help you computes the Mode-field diameter of the fundamental mode in a step-index fiber.
            </p>
            <center><img src="image/F4-resize.png" width="50%" ></center>
            <h2 style="text-align:center;"> $M F D$= $2a(0.65 + \frac{1.619}{V^{3/2}}+\frac{2.879}{V^6})$ <br> $V$= $\frac{2 \pi}{\lambda} a$NA</h2><br>
            <p style="text-align:left;">Wavelength of signal <b>$\lambda$</b>; Core radius of the Fiber <b>a</b>; Numerical aperture <b>NA</b>;</p>
          </b></div><br>


        <fieldset class="input">
            <legend>Input</legend>
            <div class="col">
              <h5>Core Radius: </h5>
              <div class="input-group">
                  <input onchange="myFunction();" type="number" class="form-control" step="0.1" ng-model="core" ng-change="myFunc()">
                  <span class="input-group-addon">μm</span>
              </div>
            </div>
              <div class="col">
                <h5>Numerical Aperture: </span></h5>
                    <input onchange="myFunction();" type="number" class="form-control" step="0.01" ng-model="NA" ng-change="myFunc()">
              </div>

                <div class="col">
                  <h5> Wavelength, $\lambda$: </h5>
                  <div class="input-group">
                      <input onchange="myFunction();" type="number" class="form-control" ng-model="WAVE" ng-change="myFunc()">
                      <span class="input-group-addon">nm</span>
                  </div><br>
                </div>
            </fieldset><br><br>


                <fieldset class="output">
                    <legend>Output</legend>
                        <div class="col">
                          <h5> Fundamental mode, $MFD$:</h5>
                          <div class="input-group">
                              <input type="number" class="form-control" ng-model="Fundamental" readonly/>
                              <span class="input-group-addon">μm</span>
                          </div><br>
                        </div>
                  </fieldset><br><br>
                </div>



              </body>
<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {
        $scope.corevalue=$scope.core*1e-6;
        $scope.wavelength=$scope.WAVE*1e-9;
        $scope.V=((2*Math.PI)/$scope.wavelength)*$scope.corevalue*$scope.NA;
        $scope.Fundamental=(2*$scope.corevalue*(0.65+(1.619/Math.pow($scope.V,3/2))+(2.879/Math.pow($scope.V,6))))*1e6;
      };
    }]);
</script>







    </div>
</body>

   <!--INPUT-->
 <style>
   fieldset {
     background-color: #e6e6e6;
   }

 </style>

 <!--OUTPUT-->
 <style>
   legend {
     font-size: 180%;
     border-radius: 10px 10px 0 0;
     background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
     background-color: #668cff;
     color: white;
     text-align: center;
   }
 </style>




</style>
</html>
