<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>
<script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Optics Calculator</title>

</head>


<body ng-app="main">


      <div class="row" id="Diffraction_limited" ng-controller="control_panel">


        <div class="col">

        <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
  -->

    <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
    <div class="banner-content">
      <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Diffraction Limit size under the Rayleigh and Abbe Criterion </h1><br>

    </div>
    </div>

        </div>

        <div class="col">
          <div id="info_Diffraction_limited" class="collapse" >
            <b><p style="text-align:left;">The following are some calculator that will help you compute the diffraction limit size with input value of wavelength and numerical aperture</p>
          <h2 style="text-align:left;">$R_R$=$\frac{0.61 \lambda}{NA}$   <br> $R_A$=$\frac{0.51 \lambda}{NA}$</h2><br>
        </b>
      </div><br>

      <fieldset class="input">
        <legend>Input</legend>


      <div class="col">
          <h5>Wavelength, $\lambda$: </h5>
          <div class="input-group">
              <input onchange="myFunction1();" type="number" class="form-control"  ng-model="lambda" ng-change="myFunc()">
              <span class="input-group-addon">nm</span>
          </div><br>
        </div>


        <div class="col">
          <h5>Numerical Aperture, $NA$: </h5>
          <div class="input-group">
              <input onchange="myFunction2();" type="number" class="form-control"  ng-model="Numerical" ng-change="myFunc()">
              <span class="input-group-addon"></span>
          </div><br>
        </div>
    </fieldset><br>


    <fieldset class="output">
      <legend>Output</legend>
          <div class="col">
            <h5>Rayleigh Criterion, $R_R$: </h5>
            <div class="input-group">
                <input type="number" class="form-control"  ng-model="Rayleigh" readonly/>
                <span class="input-group-addon">nm</span>
            </div><br>
          </div>
          <div class="col">
            <h5>Abbe Criterion, $R_R$: </h5>
            <div class="input-group">
                <input type="number" class="form-control"  ng-model="abbe" readonly/>
                <span class="input-group-addon">nm</span>
            </div><br>
          </div>
  </fieldset>
</div>


</body>



<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {
      $scope.wavelength=$scope.lambda*1e-9;
      $scope.Rayleigh=(0.61*$scope.wavelength)/($scope.Numerical)*1e9;
      $scope.abbe=(0.51*$scope.wavelength)/($scope.Numerical)*1e9;

      };

    }]);
</script>



<!--INPUT-->
<style>
fieldset {
  background-color: #e6e6e6;
}

</style>

<!--OUTPUT-->
<style>
legend {
  font-size: 180%;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
  background-color: #668cff;
  color: white;
  text-align: center;
}
</style>





</html>
