<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body ng-app="main">

  <div class="row" id="Divergence_angle" ng-controller="control_panel">
    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
    -->

    <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
    <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Gaussian beam propagation-divergence</h1><br>

    </div>
    </div>
      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse">
          <b><p style="text-align:left;">The following is a calculator that helps you calculate the Divergence angle $\theta$, by inputting the Beam waist, Beam quality factor and Central wavelength.</p>
          <p style="text-align:left;">The formula that will be used is as followed:</p>
          <h2 style="text-align:left;">${\theta}= 2M^2 (\frac{λ}{\pi w_0})$</h2>
        </b>
        </div><br>



    <fieldset class="input">
      <legend>Input</legend>

        <div class="col">
          <h5>Beam Waist, $w_0$: </span></h5>
          <div class="input-group">
            <input onchange="myFunction();" type="number" class="form-control" ng-model="BW" ng-change="myFunc()">
            <span class="input-group-addon">mm</span>
          </div>
        </div>

        <div class="col">
          <h5>Beam Quality Factor, $M^2$: </span></h5>
          <div class="input-group">
              <input onchange="myFunction();" type="number" class="form-control" ng-model="BQF" ng-change="myFunc()">
              <span class="input-group-addon"></span>
          </div><br>
        </div>





        <div class="col">
          <h5>Central wavelength, λ </h5>
          <div class="input-group">
              <input onchange="myFunction();" type="number" class="form-control" ng-model="CW" ng-change="myFunc()" >
              <span class="input-group-addon">nm</span>
          </div><br>
        </div>

    </fieldset><br>




    <fieldset class="output">
      <legend>Output</legend>
      <div class="col">
        <h5>Divergence angle, $\theta$ : </h5>
        <div class="input-group">
            <input type="number" class="form-control" ng-model="DA" ng-change="myFunc()" readonly/>
            <span class="input-group-addon">mrad</span>
        </div><br>
      </div>
    </fieldset>
  </div></div>

</body>







    <script>
      angular.module('main', [])
        .controller('control_panel', ['$scope', function($scope) {

          $scope.myFunc = function() {

            $scope.DA=2*$scope.BQF*(($scope.CW*1e-3)/(Math.PI*$scope.BW));
          };
        }]);
    </script>

<script>
function myFunction() {
var Beam_waist = document.getElementById("BW");
var Beam_quality_factor = document.getElementById("BQF");
var Central_wavelength = document.getElementById("CW");
var Divergence_angle = document.getElementById("DA");
var m_Wavelength = Central_wavelength.value*1e-3;
var pie = 3.141592654;

Divergence_angle.value= (2*Beam_quality_factor.value*(m_Wavelength/(pie*Beam_waist.value))).toFixed(3);


;}

</script>




<!---title----->
<style>
  fieldset {
    background-color: #e6e6e6;
  }

</style>

<!--OUTPUT-->
<style>
  legend {
    font-size: 180%;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
    background-color: #668cff;
    color: white;
    text-align: center;
  }
</style>






</html>
