<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>


<body ng-app="main">
  <div class="row" id="Diffraction_limited" ng-controller="control_panel">


    <div class="col">

    <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
  -->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
  <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Converts a spectral bandwidth to frequency domain</h1><br>

  </div>
  </div>
    </div>

    <div class="col">
      <div id="info_Diffraction_limited" class="collapse">
          <b><p style="text-align:left;">This calcaulator will help you converts a spectral bandwidth expressed in wavelength Δλ at a certain central wavelength λ0to frequency domain.
            </p>
            <center><img src="image/L3-resize.png" width="60%"></center>

            <p style="text-align:left;">The formula that will be used is as followed:</p>
            <h2 style="text-align:left;"> C=3*10$^8$  &nbsp; &nbsp; $V_0$= $\frac{C}{\lambda_0}$</h2>
            <h2 style="text-align:left;"> $V_{start}$ = $\frac{C}{\lambda_0 + \lambda/2}$ &nbsp; &nbsp; &nbsp;$V_{stop}$ = $\frac{C}{\lambda_0 - \lambda/2}$</h2>
            <h2 style="text-align:left;"> $\triangle V$= $V_{stop}$ - $V_{start}$</h2>
            <p style="text-align:left;">Wavelength Bandwidth <b>$\lambda$</b>; Center Wavelength <b>$\lambda_0$</b>; Center Frequency <b>$V_0$</b>; Frequency Bandwidith <b>$\triangle V$</b>;</p>

          </b>
      </div><br>



        <fieldset class="input">
            <legend>Input</legend>
            <div class="col">
              <h5>Center Wavelength, $\lambda_0$: </h5>
              <div class="input-group">
                  <input type="number" class="form-control" step="0.1" ng-model="Wave" ng-change="myFunc()">
                  <span class="input-group-addon">nm</span>
              </div>
            </div>
              <div class="col">
                <h5>Wavelength Bandwidth: $\lambda$</span></h5>
                <div class="input-group">
                    <input type="number" class="form-control" step="0.01" ng-model="w" ng-change="myFunc()">
                    <span class="input-group-addon">nm</span>
                </div><br>
              </div>
            </fieldset><br><br>

                <fieldset class="output">
                    <legend>Output</legend>
                        <div class="col">
                          <h5>Center Frequency, $V_0$:</h5>
                          <div class="input-group">
                              <input type="number" class="form-control" ng-model="vo" readonly/>
                              <span class="input-group-addon">THz</span>
                          </div>
                        </div>
                          <div class="col">
                            <h5>Frequency Bandwidith, $\triangle V$:</h5>
                            <div class="input-group">
                                <input type="number" class="form-control" ng-model="fBandwidith" readonly/>
                                <span class="input-group-addon">THz</span>
                            </div><br>
                          </div>
                </fieldset>


      </div><
<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {
$scope.c=3*1e8;
$scope.Wavelength=$scope.Wave*1e-9;
$scope.wBandwidith=$scope.w*1e-9;
$scope.vo=($scope.c/$scope.Wavelength)*1e-12;
$scope.vstart=$scope.c/($scope.Wavelength+($scope.wBandwidith/2));
$scope.vstop=$scope.c/($scope.Wavelength-($scope.wBandwidith/2));
$scope.fBandwidith=($scope.vstop-$scope.vstart)*1e-12;
      };
    }]);
</script>







    </div>
</body>


<!---title----->
<style>
  fieldset {
    background-color: #e6e6e6;
  }

</style>

<!--OUTPUT-->
<style>
  legend {
    font-size: 180%;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
    background-color: #668cff;
    color: white;
    text-align: center;
  }
</style>



</html>
