
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>


<body ng-app="main">
  <div class="row" id="Diffraction_limited" ng-controller="control_panel">


    <div class="col">

    <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
  -->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
  <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Round Trip Time And Repetition Frequency Of A Pulsed Laser Cavity</h1><br>

  </div>
  </div>
    </div>

    <div class="col">
      <div id="info_Diffraction_limited" class="collapse">
        <b><p style="text-align:left;">This calculator will help you computes the round trip time and repetition frequency of a pulsed laser cavity.
            </p>
            <center><img src="image/L4-resize.png" width="50%"></center>

            <p style="text-align:left;">The formulas that will be used are as followed:</p>
            <b><h5>$C$=3x10$^8$ <br> $OPL$=2L$_1$n$_{g^1}$+2L$_2$n$_{g^2}$+L$_3$n$_{g^3}$+L$_4$n$_{g^4}$</h5>
            <h5>$\tau$ = $\frac{OPL}{C}$ &nbsp; &nbsp;$f_{rep}$= $\frac{1}{\tau}$</h5><br></b>

            <p style="text-align:left;">Material 1 (or2) length with double pass, L$_1$ (L$_2$);</p>
            <p style="text-align:left;">Material 3 (or4) length with single pass, L$_3$ (L$_4$);</p>
            <p style="text-align:left;">Material 1 (2,3,4) group index, $n_{g^1} (n_{g^2} n_{g^3} n_{g^4})$;</p>
            <p style="text-align:left;">Round Trip Time, $\tau$ &nbsp;&nbsp; Repetition Frequency, f$_{rep}$</p>

          </b>
      </div><br>


        <fieldset class="input">
            <legend>Input</legend>
            <div class="col">
              <h5>$L_1$: </h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="l1" ng-change="myFunc()">
                  <span class="input-group-addon">m</span>
              </div>
            </div>
            <div class="col">
              <h5>$L_2$: </h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="l2" ng-change="myFunc()">
                  <span class="input-group-addon">m</span>
              </div>
            </div>
              <div class="col">
                <h5>$L_3$: </h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="l3" ng-change="myFunc()">
                    <span class="input-group-addon">m</span>
                </div>
              </div>
              <div class="col">
                <h5>$L_4$: </h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="l4" ng-change="myFunc()">
                    <span class="input-group-addon">m</span>
                </div>
              </div>
                <div class="col">
                  <h5>$n_{g^1}$: </h5>
                      <input type="number" class="form-control" ng-model="ng1" ng-change="myFunc()">
                </div>
                <div class="col">
                  <h5>$n_{g^2}$ </h5>
                      <input type="number" class="form-control" ng-model="ng2" ng-change="myFunc()">
                </div>
                  <div class="col">
                    <h5>$n_{g^3}$ </h5>
                        <input type="number" class="form-control" ng-model="ng3" ng-change="myFunc()">
                  </div>
                  <div class="col">
                    <h5>$n_{g^4}$ </h5>
                        <input type="number" class="form-control" ng-model="ng4" ng-change="myFunc()">
                  <br></div>
            </fieldset><br><br>






                <fieldset class="output">
                    <legend>Output</legend>
                        <div class="col">
                          <h5>Round Trip Time, $\tau$:</h5>
                          <div class="input-group">
                              <input type="number" class="form-control" ng-model="vo" readonly/>
                              <span class="input-group-addon">ns</span>
                          </div>
                        </div>
                          <div class="col">
                            <h5>Repetition Frequency, f$_{rep}$:</h5>
                            <div class="input-group">
                                <input type="number" class="form-control" ng-model="Frequency" readonly/>
                                <span class="input-group-addon">MHz</span>
                            </div><br>
                          </div>
                </fieldset><br><br>
              </div>


        </body>

<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {
$scope.c=3*1e8;

$scope.opl=(2*$scope.l1*$scope.ng1)+(2*$scope.l2*$scope.ng2)+($scope.l3*$scope.ng3)+($scope.l4*$scope.ng4);
$scope.vo=($scope.opl/$scope.c)*1e9;
$scope.Frequency=(1/($scope.opl/$scope.c))*1e-6;
      };
    }]);
</script>







    </div>
</body>




<!---title----->
<style>
  fieldset {
    background-color: #e6e6e6;
  }

</style>

<!--OUTPUT-->
<style>
  legend {
    font-size: 180%;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
    background-color: #668cff;
    color: white;
    text-align: center;
  }
</style>







</html>
