<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>
<script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>


<body ng-app="main">

  <div class="row" id="Diffraction_limited" ng-controller="control_panel">


    <div class="col">

    <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
  -->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
  <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Transform limited pulse width-Gaussian</h1><br>

  </div>
  </div>
    </div>

    <div class="col">
      <div id="info_Diffraction_limited" class="collapse">
        <b><p style="text-align:left;">This calculator will help you to calculate the Peak Power for Gaussian Pulse and the Peak Power for Sech Pulse (in Watts) with  input value of Pulse Energy (in Joules) and Pulse Duration (in Seconds).</p>
        <center><img src="image/LA1-resize.png"></center>
      </div><br>

      <fieldset class="input">
        <legend>Input</legend>
        <div class="col">
            <h5><br>Select Pulse Shape (A): </h5>
              <select id="Pulse_shape" class="form-control" onchange="myFunction1();" ng-model="Pulse_shape" ng-change="myFunc1()">
                <option value="Gaussian">Gaussian (0.441)</option>
                <option value="Sech">Sech (0.315)</option>
                <option value="Lorentz">Lorentz (0.142)</option>
              </select><br>
          </div>




        <div class="col">
          <h5><br>Central Wavelength,$\lambda$: </h5>
          <div class="input-group">
              <input onchange="myFunction2();" type="number" class="form-control"  ng-model="lambda" ng-change="myFunc2()">
              <span class="input-group-addon">nm</span>
          </div><br>
        </div>
        <div class="col">
            <h5>Spectral bandwidth (frequency), $\triangle f$: </h5>
            <div class="input-group">
                <input onchange="myFunction1();" type="number" class="form-control"  ng-model="frequency" ng-change="myFunc1()">
                <span class="input-group-addon">THz</span>
            </div><br>
          </div>

        <div class="col">
          <h5>Spectral Bandwidth (wavelength),$\triangle\lambda$:</h5>
          <div class="input-group">
              <input onchange="myFunction2();" type="number" class="form-control"  ng-model="wavelength" ng-change="myFunc2()">
              <span class="input-group-addon">nm</span>
          </div><br>
        </div>

    </fieldset><br><br>



    <fieldset class="output">
      <legend>Output</legend>
          <div class="col">
            <h5>Transform limited pulse width, $\triangle t$ :</h5>
            <div class="input-group">
                <input type="number" class="form-control"  ng-model="Pulse_Width" readonly/>
                <span class="input-group-addon">fs</span>
            </div><br>
          </div>
  </fieldset>
</div><br><br>
  </div>
</body>




<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc1 = function() {

    if($scope.Pulse_shape=="Gaussian"){$scope.material = 0.441;}
    if($scope.Pulse_shape=="Sech"){$scope.material = 0.315;}
    if($scope.Pulse_shape=="Lorentz"){$scope.material = 0.142;}
    $scope.Pulse_Width = ((1000*$scope.material)/$scope.frequency)
    $scope.lambda=0;
    $scope.wavelength=0;
      };

      $scope.myFunc2 = function() {


  if($scope.Pulse_shape=="Gaussian"){$scope.material = 0.441;}
  if($scope.Pulse_shape=="Sech"){$scope.material = 0.315;}
  if($scope.Pulse_shape=="Lorentz"){$scope.material = 0.142;}
  $scope.Pulse_Width = (3.336*1e-3)*$scope.material*(Math.pow($scope.lambda,2)/$scope.wavelength);
  $scope.frequency=0;

    };
    }]);
</script>



<!---title----->
<style>
  fieldset {
    background-color: #e6e6e6;
  }

</style>

<!--OUTPUT-->
<style>
  legend {
    font-size: 180%;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
    background-color: #668cff;
    color: white;
    text-align: center;
  }
</style>




</style>




</html>
