<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>

</head>


  <body ng-app="main">
    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
    -->

    <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
    <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Peak Intensity of Gaussian Laser Pulses </h1><br>

    </div>
    </div>
      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse">
          <b><p style="text-align:left;">The following are some calculator that will help you calculate the Energy fluence (in Joules per centimetre square) and the Peak Intensity (in Watts per centimetre square)</p>
        <p style="text-align:left;">by inputting the value of Pulse Energy (in Joules) ,Beam radium at $\frac{1}{e^2}$ intensity (in centimetre) and Pulse duration (in second).</p>
          <center><img src="image/LA4-resize.png"></center>
        <h3 style="text-align:center;"> Peak Intensity = $(\frac{1.88E}{\pi\omega^2\tau})$<h3>
        <h3 style="text-align:center;"> Energy fluence = $(\frac{2E}{\pi\omega^2})$<h3>
      </b>
        </div><br>
      <fieldset class="input">
        <legend>Input</legend>

          <div class="col">
            <h5>Pusle Energy,$\ E$: </h5>
            <div class="input-group">
                <input onchange="myFunction();" type="number" class="form-control" id="PE" ng-model="energy" ng-change="myFunc()">
                <span class="input-group-addon">J</span>
            </div>
          </div>

            <div class="col">
              <h5> Beam radium at 1/e$^2$ intensity, $\omega$: </span></h5>
              <div class="input-group">
                  <input onchange="myFunction();" type="number" class="form-control" id="Br" ng-model="Beam_radium" ng-change="myFunc()">
                  <span class="input-group-addon">cm</span>
              </div>
            </div>
            <div class="col">
              <h5> Pulse duration, $\tau$: </span></h5>
              <div class="input-group">
                  <input onchange="myFunction();" type="number" class="form-control" id="PD" ng-model="dur" ng-change="myFunc()">
                  <span class="input-group-addon">fs</span>
              </div><br>
            </div>

      </fieldset><br>


      <fieldset class="output">
        <legend>Output</legend>

            <div class="col">
              <h5>Peak Intensity:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" id="Energyfluence" ng-model="fluence" readonly/>
                  <span class="input-group-addon">GW/cm$^2$</span>
              </div>
            </div>

            <div class="col">
              <h5>Energy fluence, $\ F$:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" id="PeakIntensity" ng-model="Intensity" readonly/>
                  <span class="input-group-addon">J/cm$^2$</span>
              </div><br>
            </div>

    </fieldset>
</div>

</body>





    </div>
  </body>



  <script>
    angular.module('main', [])
      .controller('control_panel', ['$scope', function($scope) {

        $scope.myFunc = function() {
          $scope.duration=$scope.dur*1e-15
          $scope.fluence=(1.88*$scope.energy)/(Math.PI * $scope.Beam_radium * $scope.Beam_radium * $scope.duration)*1e-9;
          $scope.Intensity = (2*$scope.energy)/(Math.PI * $scope.Beam_radium * $scope.Beam_radium);
        };
      }]);
  </script>

 <!---title----->
 <style>
   fieldset {
     background-color: #e6e6e6;
   }

 </style>

 <!--OUTPUT-->
 <style>
   legend {
     font-size: 180%;
     border-radius: 10px 10px 0 0;
     background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
     background-color: #668cff;
     color: white;
     text-align: center;
   }
 </style>




</style>

</html>
