<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/x-mathjax-config"> MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});</script>
  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="main">
  <div class="row" id="Diffraction_limited" ng-controller="control_panel">


    <div class="col">

    <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
  -->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
  <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Peak Power of Pulses </h1><br>

  </div>
  </div>
    </div>

    <div class="col">
      <div id="info_Diffraction_limited" class="collapse">
        <b><p style="text-align:left;">The following are some calculator that will help you calculate the <b>Peak Power for Gaussian Pulse</b> and the <b>Peak Power for Sech Pulse</b> (in Watts) by inputting the value of Pulse Energy (in Joules) and Pulse Duration (in Seconds).</p>
      </div><br>
      <fieldset class="input">
        <legend>Input</legend>
          <div class="col">


            <h5>Pulse Energy, $E$: </h5>
            <div class="input-group">
                <input onchange="myFunction();" type="number" class="form-control" ng-model="energy" ng-change="myFunc()">
                <span class="input-group-addon">J</span>
            </div>
          </div>
            <div class="col">
              <h5>Pusle Duration, $\triangle t$:  </span></h5>
              <div class="input-group">
                  <input onchange="myFunction();" type="number" class="form-control" ng-model="duration" ng-change="myFunc()">
                  <span class="input-group-addon">S</span>
              </div><br>
            </div>

      </fieldset><br>


      <fieldset class="output">
        <legend>Output</legend>

          <div class="col">
            <h5>Peak Power For Gaussian Pulse: <span class="glyphicon glyphicon-info-sign info-glyph" data-toggle="modal" data-target="#description_Gaussian"></span></h5>
            <div class="input-group">
                <input type="number" class="form-control" ng-model="Gaussian" readonly/>
                <span class="input-group-addon">W</span>
            </div><br>
          </div>
          <div class="col">
            <h5>Peak Power For Sech Pulse: <span class="glyphicon glyphicon-info-sign info-glyph" data-toggle="modal" data-target="#description_Sech"></span></h5>
            <div class="input-group">
                <input type="number" class="form-control" ng-model="Sech" readonly/>
                <span class="input-group-addon">W</span>
            </div><br>
          </div>
      </fieldset>
  </div>
</body>




<!---descriptions--->
<div id="description_Gaussian" class="modal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Peak Power For Gaussian Pulse</h4>
      </div>
      <div class="modal-body">
        <p>The formula that will be used for <b>Peak Power for Gaussian Pulse</b> is as followed:</p><br>
        <p>$P_{Gaussian}$ = $(\frac{0.94E}{\triangle t})$</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="description_Sech" class="modal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Peak Power For Sech Pulse</h4>
      </div>
      <div class="modal-body">
        <p>The formula that will be used for <b>Peak Power for Sech Pulse</b> is as followed:</p><br>
        <p>$P_{Sech}$     = $(\frac{0.88E}{\triangle t})$</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


                      </body>



<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {

$scope.Gaussian=(0.94*$scope.energy)/$scope.duration;
$scope.Sech=(0.88*$scope.energy)/$scope.duration;
      };
    }]);
</script>



   <!---title----->
   <style>
     fieldset {
       background-color: #e6e6e6;
     }

   </style>

   <!--OUTPUT-->
   <style>
     legend {
       font-size: 180%;
       border-radius: 10px 10px 0 0;
       background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
       background-color: #668cff;
       color: white;
       text-align: center;
     }
   </style>




  </style>


</html>
