<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>
<script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Optics Calculator</title>

</head>


<body ng-app="main">


    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
  -->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Pulse Width at Fourier Transform Limit</h1><br>

  </div>
  </div>
      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse">
          <b><p style="text-align:left;">This calculator will help you to calculate the Pulse Width at Fourier Transform Limit (in fs),with input value of Central wavelength (in nm) and Half Width of Laser Spectrum (in nm).</p></b><br>
          <center><img src="image/LA7-resize.png"></center>
          <h2 style="text-align:left;">Pulse Width = $\frac{A\lambda_0^2}{c \triangle \lambda}$</h2>
          <h2 style="text-align:left;">Pulse Shape Constant, A:</h2>
        <p style="text-align:left;">Gaussian: 0.441<br> Sech: 0.315<br> Lorentz: 0.142 <br>Center wavelength, $\lambda_0$; Speed of Light, C; Half Width of Laser Spectrum, $\triangle \lambda$;</p>

        </b>
        </div><br>




      <fieldset class="input">
        <legend>Input</legend>


      <div class="col">
          <h5>Laser Center wavelength, $\lambda_0$: </h5>
          <div class="input-group">
              <input type="number" class="form-control"  ng-model="lambda" ng-change="myFunc()">
              <span class="input-group-addon">nm</span>
          </div>
        </div>


        <div class="col">
          <h5>Half Width of Laser Spectrum, $\triangle \lambda$: </h5>
          <div class="input-group">
              <input type="number" class="form-control"  ng-model="LS" ng-change="myFunc()">
              <span class="input-group-addon">nm</span>
          </div><br>
        </div>
    </fieldset><br>



    <fieldset class="output">
      <legend>Output</legend>
      <div class="col">
        <h4>Half Width of Laser Spectrum, $\triangle \lambda$: </h4>

      </div>
      <div class="row bottom_align_row"></div>




          <div class="col">
            <h5>Gaussian: </h5>
            <div class="input-group">
                <input type="number" class="form-control"  ng-model="Gaussian" readonly/>
                <span class="input-group-addon">fs</span>
            </div>
          </div>
          <div class="col">
            <h5>Sech: </h5>
            <div class="input-group">
                <input type="number" class="form-control"  ng-model="Sech" readonly/>
                <span class="input-group-addon">fs</span>
            </div>
          </div>
          <div class="col">
            <h5>Lorentz: </h5>
            <div class="input-group">
                <input type="number" class="form-control"  ng-model="Lorentz" readonly/>
                <span class="input-group-addon">fs</span>
            </div><br>
          </div>
  </fieldset>
    </div>


  </body>


<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {
$scope.c=299792458;
$scope.wavelength=$scope.lambda*1e-9;
$scope.bandwidth=$scope.LS*1e-9;
$scope.Gaussian=(0.441*(Math.pow($scope.wavelength,2)))/($scope.c*$scope.bandwidth)*1e15;
$scope.Sech=(0.315*(Math.pow($scope.wavelength,2)))/($scope.c*$scope.bandwidth)*1e15;
$scope.Lorentz=(0.142*(Math.pow($scope.wavelength,2)))/($scope.c*$scope.bandwidth)*1e15;

      };

    }]);
</script>


<!--INPUT-->
<style>
fieldset {
  background-color: #e6e6e6;
}

</style>

<!--OUTPUT-->
<style>
legend {
  font-size: 180%;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
  background-color: #668cff;
  color: white;
  text-align: center;
}
</style>




</style>


</html>
