<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>
<script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <title>Optics Calculator</title>
</head>


<body ng-app="main">

  <div class="row" id="Diffraction_limited" ng-controller="control_panel">


    <div class="col">

    <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
-->

<div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
<div class="banner-content">
  <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Time Bandwidth Product</h1><br>

</div>
</div>
    </div>

    <div class="col">
      <div id="info_Diffraction_limited" class="collapse">
        <b><p style="text-align:left;">This calculator will help you to calculate the Time Bandwidth Product ,with input value of Central wavelength (in nm), Half Width of Laser Spectrum (in nm) and Half Width of Laser Pulse (in fs).</p><br>
          <p style="text-align:left;">The formula that will be used for Time Bandwidth Product will be as followed:</p>
          <h2 style="text-align:left;">$TBP$ = $\frac{c \triangle \lambda \tau}{\lambda_0^2}$</h2><br>
          <p style="text-align:left;">Pulse Shape, A; Center wavelength, $\lambda_0$; Speed of Light, C; Half Width of Laser Spectrum, $\triangle \lambda$;</p>
        </b>
      </div><br>

      <fieldset class="input">
  <legend><b>Input</b></legend>
      <div class="col">
          <h5>Laser Center wavelength, $\lambda_0$: </h5>
          <div class="input-group">
              <input type="number" class="form-control"  ng-model="lambda" ng-change="myFunc()">
              <span class="input-group-addon">nm</span>
          </div>
        </div>

        <div class="col">
          <h5>Half Width of Laser Spectrum, $\triangle \lambda$: </h5>
          <div class="input-group">
              <input type="number" class="form-control"  ng-model="LS" ng-change="myFunc()">
              <span class="input-group-addon">nm</span>
          </div><br>
        </div>
        <div class="col">
          <h5>Half Width of Laser Pulse: </h5>
          <div class="input-group">
              <input type="number" class="form-control"  ng-model="tau" ng-change="myFunc()">
              <span class="input-group-addon">fs</span>
          </div><br>
        </div>
    </fieldset><br>



    <fieldset class="output">
      <legend><b>Output</b></legend>

          <div class="col">
            <h5>Time Bandwidth Product:</h5>
                <input type="number" class="form-control"  ng-model="product" readonly/>
          </div>
<div class="row bottom_align_row"></div>
            <div class="col">
            <h5>Pulse Shape: </h5>
            <p>Gaussian: 0.441<br> Sech: 0.315<br> Lorentz: 0.142</p><br>
</div>



  </fieldset><br><br>
    </div>


      </body>




<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {
$scope.c=299792458;
$scope.wavelength=$scope.lambda*1e-9;
$scope.bandwidth=$scope.LS*1e-9;
$scope.t=$scope.tau*1e-15;
$scope.product=(($scope.c*$scope.bandwidth*$scope.t)/(Math.pow($scope.wavelength,2)));
      };

    }]);
</script>




   <!--INPUT-->
 <style>
   fieldset {
     background-color: #e6e6e6;
   }

 </style>

 <!--OUTPUT-->
 <style>
   legend {
     font-size: 180%;
     border-radius: 10px 10px 0 0;
     background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
     background-color: #668cff;
     color: white;
     text-align: center;
   }
 </style>




</style>



</html>
