<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>


</head>



<body ng-app="main">
  <div class="row" id="Reflective Index" ng-controller="control_panel">
      <div class="col">

      <h1 class=title id="h1">Refractive Index</h1><br>
    </div>


    <div class="col">
      <fieldset class="input">
        <legend>Input</legend>

                  <div class="col">
                    <h5>Select material: </h5>
                    <select id="materialsSelect" class="form-control" ng-model="materialsSelect" ng-change="myFunc()" onchange="Ngraph();">


                        <option  name="BK7" value="BK7" >BK7, BK7 Crown Glass</option>
                        <option  name="fused_silica" value="fused_silica">fused-silica, Fused quartz/silica (FS)</option>
                        <option  name="CaF2" value="CaF2">CaF2, Calcium fluoride</option>
                        <option  name="MgF2" value="MgF2e">MgF2, Magnesium fluoride, Extraordinary</option>
                        <option  name="MgF2" value="MgF2o">MgF2, Magnesium fluoride,Ordinary</option>
                        <option  name="Ge" value="Ge">Ge, Germanium</option>
                        <option  name="Si" value="Si">Si, Silicon</option>
                    </select>
                  </div>



          <div class="col">
            <h5>Central wavelength,  $\lambda$: </h5>
            <div class="input-group">
                <input onchange="myFunction();" type="number" class="form-control" id="n" ng-model="lambda" ng-change="myFunc()">
                <span class="input-group-addon">nm</span>
            </div><br>
        </div>
      </fieldset><br>


      <fieldset class="output">
        <legend>Output</legend>
            <div class="col">
              <h5> Reflective Index, n:</h5>
                  <input type="number" class="form-control" id="reflect_index" ng-model="index" readonly/>
      <br>  </div>
    </fieldset>
    <div class="graphx" id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>

    </div>
  </div>
  </div>


<!------Graph------------>
    <script>
        function Ngraph(){

          selected_material=document.getElementById("materialsSelect");
 if(selected_material.value=="BK7")
            {
var max_wavelength=2500;
var min_wavelength=300;
            }
            if(selected_material.value=="fused_silica")
            {
var max_wavelength=3710;
var min_wavelength=210;
            }
            if(selected_material.value=="CaF2")
            {
var max_wavelength=12000;
var min_wavelength=150;
            }
            if(selected_material.value=="MgF2e")
            {
var max_wavelength=7000;
var min_wavelength=200;
            }
                if(selected_material.value=="MgF2o")
            {
var max_wavelength=7000;
var min_wavelength=200;
            }
                if(selected_material.value=="Ge")
            {
var max_wavelength=20000;
var min_wavelength=2500;
            }
            if(selected_material.value=="Si")
            {
var max_wavelength=12000;
var min_wavelength=1200;
            }


  var i;
  var x_axis=[];
  for (i=min_wavelength;i<=max_wavelength;i=i+10){
      x_axis.push(i);
  }

  var m_i;
  var N=[];
  for (m_i=min_wavelength*1e-3;m_i<=max_wavelength*1e-3;m_i=m_i+0.01){
var m_Wavelength=m_i;
var wl2 =(m_Wavelength*m_Wavelength);



            selected_material=document.getElementById("materialsSelect");
 if(selected_material.value=="BK7")
            {
var material= Math.sqrt((1.03961212*wl2)/(wl2-0.0060006986) +
(0.231792344*wl2)/(wl2-0.0200179144) + (1.01046945*wl2)/(wl2-103.560653) + 1);
            }
            if(selected_material.value=="fused_silica")
            {
var material = Math.sqrt((0.6961663*wl2)/(wl2-(0.0684043*0.0684043)) +
(0.4079426*wl2)/(wl2-(0.1162414*0.1162414)) + (0.8974794*wl2)/(wl2-(9.896161*9.896161)) + 1);
            }
            if(selected_material.value=="CaF2")
            {
var material = Math.sqrt((0.618814*wl2)/(wl2-0.002759866) +
(0.4198937*wl2)/(wl2-0.01061251) + (3.426299*wl2)/(wl2-1068.123) + 1);
            }
            if(selected_material.value=="MgF2e")
            {
var material = Math.sqrt((0.41344023*wl2)/(wl2-(0.03684262*0.03684262)) +
(0.50497499*wl2)/(wl2-(0.09076162*0.09076162)) + (2.4904862*wl2)/(wl2-(23.771995*23.771995)) + 1);
            }
            if(selected_material.value=="MgF2o")
            {
var material =  Math.sqrt((0.48755108*wl2)/(wl2-(0.04338408*0.04338408)) +
(0.39875031*wl2)/(wl2-(0.09461442*0.09461442)) + (2.3120353*wl2)/(wl2-(23.793604)) + 1);
            }
            if(selected_material.value=="Ge")
            {
var material = Math.sqrt(8.28156 +
(6.7288*wl2)/(wl2-0.44105) + (0.21307*wl2)/(wl2-3870.1) + 1);
            }
            if(selected_material.value=="Si")
          {
var material = Math.sqrt((10.6684293*wl2)/(wl2-(0.301516485*0.301516485)) +
(0.0030434748*wl2)/(wl2-(1.13475115*1.13475115)) + (1.54133408*wl2)/(wl2-(1104*1104)) + 1);

            }

N.push(material.toFixed(4));


        }

var graph1 = {

    x: x_axis,
    y: N,
    type: 'line',
    name: 'Reflective index, n'
  };




  var layout = {
  xaxis: {
    title: 'Wavelength, λ (nm)'
  },
  yaxis: {
    title: 'Reflective index, n'
  }
};


var data= [ graph1];


  Plotly.newPlot('myDiv', data, layout);
    }

    </script>


 <script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {

        $scope.wavelength=Math.pow($scope.lambda*1e-3,2);


 if($scope.materialsSelect=="BK7")
            {
              $scope.material= Math.sqrt((1.03961212*$scope.wavelength)/($scope.wavelength-0.0060006986) +
(0.231792344*$scope.wavelength)/($scope.wavelength-0.0200179144) + (1.01046945*$scope.wavelength)/($scope.wavelength-103.560653) + 1);
            }
            if($scope.materialsSelect=="fused_silica")
            {
              $scope.material = Math.sqrt((0.6961663*$scope.wavelength)/($scope.wavelength-(0.0684043*0.0684043)) +
(0.4079426*$scope.wavelength)/($scope.wavelength-(0.1162414*0.1162414)) + (0.8974794*$scope.wavelength)/($scope.wavelength-(9.896161*9.896161)) + 1);
            }
            if($scope.materialsSelect=="CaF2")
            {
              $scope.material = Math.sqrt((0.618814*$scope.wavelength)/($scope.wavelength-0.002759866) +
(0.4198937*$scope.wavelength)/($scope.wavelength-0.01061251) + (3.426299*$scope.wavelength)/($scope.wavelength-1068.123) + 1);
            }
            if($scope.materialsSelect=="MgF2e")
            {
              $scope.material = Math.sqrt((0.41344023*$scope.wavelength)/($scope.wavelength-(0.03684262*0.03684262)) +
(0.50497499*$scope.wavelength)/($scope.wavelength-(0.09076162*0.09076162)) + (2.4904862*$scope.wavelength)/($scope.wavelength-(23.771995*23.771995)) + 1);
            }
            if($scope.materialsSelect=="MgF2o")
            {
              $scope.material =  Math.sqrt((0.48755108*$scope.wavelength)/($scope.wavelength-(0.04338408*0.04338408)) +
(0.39875031*$scope.wavelength)/($scope.wavelength-(0.09461442*0.09461442)) + (2.3120353*$scope.wavelength)/($scope.wavelength-(23.793604)) + 1);
            }
            if($scope.materialsSelect=="Ge")
            {
              $scope.material = Math.sqrt(8.28156 +
(6.7288*$scope.wavelength)/($scope.wavelength-0.44105) + (0.21307*$scope.wavelength)/($scope.wavelength-3870.1) + 1);
            }
            if($scope.materialsSelect=="Si")
          {
            $scope.material = Math.sqrt((10.6684293*$scope.wavelength)/($scope.wavelength-(0.301516485*0.301516485)) +
(0.0030434748*$scope.wavelength)/($scope.wavelength-(1.13475115*1.13475115)) + (1.54133408*$scope.wavelength)/($scope.wavelength-(1104*1104)) + 1);

            }

            $scope.index=$scope.material;
      };
    }]);


</script>







   </body>
 <!---title----->



  <!--INPUT-->
  <style>
    fieldset {
      background-color: #e6e6e6;
    }

  </style>

  <!--OUTPUT-->
  <style>
    legend {
      font-size: 180%;
      border-radius: 10px 10px 0 0;
      background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
      background-color: #668cff;
      color: white;
      text-align: center;
    }

    #myDiv{
      width: 300px;
    }
  </style>




  </html>
