<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
  </script>

    <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


  <title>Optics Calculator</title>







</head>
  <body ng-app="main">



    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
-->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Transmission and Reflection Coefficients of Light</h1><br>

  </div>
  </div>

      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse" >
          <p style="text-align:left;">This Calculator Will Help You To calculate The Transmission and Reflection of Coefficient of Light At Non-normal Incidence of Uniaxial Crystal (Single Surface)</p>
          <center><img src="image/O11-resize.png">  
          <b><h4 style="text-align:left;"> $n_1$sin$\theta_1$=$n_0$sin$\theta_0$ </h4></b>
            <b><h4 style="text-align:left;"> $T_s$=$\frac{ sin 2 \theta_0 sin 2 \theta_1}{sin^2(\theta_0 + \theta_1)}$ <br>  $R_s$=$\frac{ sin^2(\theta_0 - \theta_1)}{sin^2(\theta_0 + \theta_1)}$</h4></b>
            <b><h4 style="text-align:left;"> $T_p$=$\frac{ sin 2 \theta_0 sin 2 \theta_1}{sin^2(\theta_0 + \theta_1) cos^2(\theta_0 - \theta_1)}$ <br> $R_p$=$\frac{ tan^2(\theta_0 - \theta_1)}{ tan^2(\theta_0 + \theta_1)}$</h4><br></b>
            <p style="text-align:left;">Incident angle of the light $\theta_0$; Refraction angle of the light $\theta_1$; Transmission Coefficient with polarization is out of the paper  $T_s$; Transmission Coefficient with polarization is in the plane of the paper $T_p$; Reflection Coefficient with polarization is out of the paper $R_s$; Reflection Coefficient with polarization is in the plane of the paper $R_p$</p>

          </div><br>

      <fieldset class="input">
        <legend><b>Input</b></legend>
          <div class="col">
            <h5>Incident Angle, $\theta_0$: </h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="incident" ng-change="myFunc();">
                <span class="input-group-addon">degree (°)</span>
            </div>
          </div>
          <div class="col">
            <h5>$n_0$: </h5>
              <input  type="number" class="form-control" ng-model="n0" ng-change="myFunc();">
          </div>
            <div class="col">
              <h5>$n_1$:</h5>
                <input type="number" class="form-control" ng-model="n1" ng-change="myFunc();"><br>
            </div>


      <br>
      </fieldset><br><br><br>

        <fieldset class="output">
          <legend><b>Output</b></legend>

            <div class="col">
              <h5>$T_s$:</h5>
                        <input type="number" class="form-control" ng-model="ts" readonly/>
            </div>

            <div class="col">
              <h5>$T_p$:</h5>
                <input type="number" class="form-control" ng-model="tp" readonly/>
            </div>

            <div class="col">
              <h5>$R_s$:</h5>
                <input type="number" class="form-control" ng-model="Rs" readonly/>
            </div>


            <div class="col">
              <h5>$R_p$:</h5>
                <input type="number" class="form-control" ng-model="Rp" readonly/><br>
            </div>





      </fieldset><br><br><br><br><br>
    </div>



  </body>




    <script>
      angular.module('main', [])
        .controller('control_panel', ['$scope', function($scope) {



          $scope.myFunc = function() {
            $scope.teta0=$scope.incident/180*Math.PI;
  $scope.teta1=Math.asin(($scope.n0*Math.sin($scope.teta0))/$scope.n1);
  $scope.ts=(Math.sin(2*$scope.teta0)*Math.sin(2*$scope.teta1))/(Math.pow(Math.sin($scope.teta0+$scope.teta1),2));
  $scope.tp=(Math.sin(2*$scope.teta0)*Math.sin(2*$scope.teta1))/(Math.pow(Math.sin($scope.teta0+$scope.teta1),2)*Math.pow(Math.cos($scope.teta0-$scope.teta1),2));
  $scope.Rs=(Math.pow(Math.sin($scope.teta0-$scope.teta1),2))/(Math.pow(Math.sin($scope.teta0+$scope.teta1),2));
  $scope.Rp=(Math.pow(Math.tan($scope.teta0-$scope.teta1),2))/(Math.pow(Math.tan($scope.teta0+$scope.teta1),2));
  if($scope.teta1=="0"){
    $scope.ts=1;
    $scope.tp=1;
    $scope.Rs=0;
    $scope.Rp=0;
  }


          };
        }]);
    </script>





   <!--INPUT-->
 <style>
   fieldset {
     background-color: #e6e6e6;
   }

 </style>

 <!--OUTPUT-->
 <style>
   legend {
     font-size: 180%;
     border-radius: 10px 10px 0 0;
     background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
     background-color: #668cff;
     color: white;
     text-align: center;
   }
 </style>




</style>
</html>
