<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
  </script>

    <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


  <title>Optics Calculator</title>







</head>
  <body ng-app="main">



    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
-->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Fringe Period of two light interference </h1><br>

  </div>
  </div>

      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse" >
          <p style="text-align:left;">This Calculator Will Help You To Calculate The Fringe Period of Two Light Interference of Two Plane Waves of Equal Intensity, Polarization and Frequency.</p>
          <center><img src="image/O15-resize.png"/><br></center>

          <b><h2 style="text-align:center;">$P$ = $\frac{\lambda}{sin(\theta_1) - sin(\theta_2)}$ </h2><br><br></b>
            <p style="text-align:left;">Incident Angle of The First Light, $\theta_1$; Incidence Angle of The Second Light, $\theta_2$; The Light Wavelength, $\lambda$;</p>

          </div><br>

      <fieldset class="input">
        <legend><b>Input</b></legend>
          <div class="col">
            <h5>Angle of Incident of the first light $\theta_1$: </h5>
          <div class="input-group">
              <input  type="number" class="form-control" ng-model="teta1" ng-change="myFunc();">
              <span class="input-group-addon">degree (°)</span>
            </div>
          </div>
          <div class="col">
            <h5>Angle of Incident of the first light $\theta_2$: </h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="teta2" ng-change="myFunc();">
                <span class="input-group-addon">degree (°)</span>
            </div>
          </div>
            <div class="col">
              <h5>Wavelength, $\lambda$:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="nm" ng-change="myFunc();">
                  <span class="input-group-addon">nm</span>
              </div>
              <br>
            </div>

      </fieldset><br><br><br>

        <fieldset class="output">
          <legend><b>Output</b></legend>

            <div class="col">
              <h5>Fringe Period, <b>P</b>:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="fringe" readonly/>
                  <span class="input-group-addon">μm</span>
            </div><br>
          </div>


      </fieldset><br><br><br><br><br>
    </div>



  </body>



    <script>
      angular.module('main', [])
        .controller('control_panel', ['$scope', function($scope) {

          $scope.myFunc = function() {
  $scope.wavelength=$scope.nm*1e-9;
  $scope.t1=$scope.teta1/180*Math.PI;
  $scope.t2=$scope.teta2/180*Math.PI;
  $scope.fringe=Math.abs($scope.wavelength/(Math.sin($scope.t1)-Math.sin($scope.t2)))*1e6;


          };
        }]);
    </script>





   <!--INPUT-->
 <style>
   fieldset {
     background-color: #e6e6e6;
   }

 </style>

 <!--OUTPUT-->
 <style>
   legend {
     font-size: 180%;
     border-radius: 10px 10px 0 0;
     background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
     background-color: #668cff;
     color: white;
     text-align: center;
   }

 </style>




</style>
</html>
