<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">

  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
  </script>

    <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


  <title>Optics Calculator</title>







</head>
  <body ng-app="main">



    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
-->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Extended Pulse Width Calculator</h1><br>

  </div>
  </div>

      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse" >
          <p style="text-align:left;">This Calculator Will Help You To Calculate The Extended Pulse Width For A Given Fourier Transform Limit(FTL) Pulse Width and GDD</p>
           <center><img src="image/O20-resize.png"></center>

		  <b><h2 style="text-align:center;"> $\tau'$ =$ \tau \sqrt{1 + (\frac{4 ln 2.GDD}{\tau^2})^2}$ </h2></b>
            <p style="text-align:left;"> Input Pulse Width $\tau$; Group Delay Dispersion, GDD</p>
            <p style="text-align:left;"> Output Pulse width $\tau '$ </p>
           </div><br>

      <fieldset class="input">
        <legend><b>Input</b></legend>
          <div class="col">
            <h5>Input Pulse Width, $\tau$: </h5>
          <div class="input-group">
              <input  type="number" class="form-control" ng-model="in" ng-change="myFunc();">
              <span class="input-group-addon">fs</span>
            </div>
          </div>
          <div class="col">
            <h5>Group Delay Dispersion, GDD</h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="group" ng-change="myFunc();">
                <span class="input-group-addon">fs$^2$</span>
            </div><br>
          </div>
      <br>
      </fieldset><br><br><br>

        <fieldset class="output">
          <legend><b>Output</b></legend>

            <div class="col">
              <h5>Output Pulse Width, $\tau'$:</h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="out" readonly/>
                    <span class="input-group-addon">fs</span>
              </div><br>
            </div>


      </fieldset><br><br><br><br><br>
    </div>



  </body>



    <script>
      angular.module('main', [])
        .controller('control_panel', ['$scope', function($scope) {

          $scope.myFunc = function() {

  $scope.out=$scope.in*Math.sqrt(1+(4*Math.LN2*$scope.group/Math.pow($scope.in,2)));


          };
        }]);
    </script>





    <!--INPUT-->
  <style>
    fieldset {
      background-color: #e6e6e6;
    }

  </style>

  <!--OUTPUT-->
  <style>
    legend {
      font-size: 180%;
      border-radius: 10px 10px 0 0;
      background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
      background-color: #668cff;
      color: white;
      text-align: center;
    }
  </style>






</html>
