<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">

  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
  </script>

    <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


  <title>Optics Calculator</title>





</head>
  <body ng-app="main">



    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
-->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Spatial Dispersion For Single Grating</h1><br>

  </div>
  </div>

      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse" >
          <p style="text-align:left;">This Calculator Will Help You To Calculate spatial dispersion for single grating</p>
          <center><img src="image/O22-resize.png" ></center>
          <b><h4 style="text-align:center;"> $\theta$ =$sin^{-1}(\frac{m \lambda}{d}-sin \gamma)$, <br> $D_0$ =$\frac{m}{d cos \theta}$ &nbsp;&nbsp;&nbsp;$D_l$ = $fD_{\theta}$, <br>$A=\frac{ L}{\lambda}(sin\gamma+sin\theta)$ </h4></b>
          <b><h4 style="text-align:center;"> $\delta\lambda= \frac{\lambda}{A}$ </h4></b>
          <p style="text-align:left;">Laser Wavelength $\lambda$; Grating Incident Angle $\gamma$; Grating Reticle Density <b>d</b>; Raster Width $f$; Grating Diffraction Order <b>m</b>; Focal Length $L$</p>

        </div><br>

      <fieldset class="input">
        <legend><b>Input</b></legend>
        <div class="col">
            <h5>Laser Wavelength, $\lambda$:</h5>
            <div class="input-group">
              <input  type="number" class="form-control" ng-model="laser_wavelength" ng-change="myFunc();">
              <span class="input-group-addon">nm</span>
            </div>
          </div>
          <div class="col">

              <h5>Grating Diffraction Order, <b>m</b>:</h5>
                      <input  type="number" class="form-control" ng-model="diffraction_order" ng-change="myFunc();">
            </div>
          <div class="col">
            <h5>Grating Incident Angle, $\gamma$:</h5>
          <div class="input-group">
              <input  type="number" class="form-control" ng-model="incident_angle" ng-change="myFunc();">
              <span class="input-group-addon">degrees (°)</span>
            </div>
          </div>
          <div class="col">

              <h5>Grating Reticle Density, <b>d</b>:</h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="reticle_density" ng-change="myFunc();">
                <span class="input-group-addon">Line/mm</span>
              </div><br>
            </div>


      <div class="col">

        <h5>Focus Objective Lens Focal Length, $L$:</h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="focal_length" ng-change="myFunc();">
                <span class="input-group-addon">mm</span>
          </div>
      </div>
      <div class="col">

          <h5>Grating Width, $f$:</h5>
          <div class="input-group">
              <input  type="number" class="form-control" ng-model="raster" ng-change="myFunc();">
              <span class="input-group-addon">mm</span>
          </div>
        </div>
      <br>
      </fieldset><br><br><br>

        <fieldset class="output">
          <legend><b>Output</b></legend>

          <div class="col">

              <h5><br>Grating diffraction Angle, $\theta$:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="diffraction_angle" readonly/>
                  <span class="input-group-addon">degrees (°)</span>
              </div>
            </div>

            <div class="col">

                <h5><br>Colour Resolution, $A$:</h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="Colour_Resolution" readonly/>
                    <span class="input-group-addon">degrees (°)</span>
                </div>
              </div>

          <div class="col">


                <h5>Resolution Spectrum, Half-value Width, $\delta \lambda$:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="Resolution_spectrum" readonly/>
                  <span class="input-group-addon">nm</span>
              </div><br>
            </div><br>


      </fieldset><br><br>
    </div>



  </body>



  <script>
      angular.module('main', [])
        .controller('control_panel', ['$scope', function($scope) {

          $scope.myFunc = function() {
  $scope.wavelength=$scope.laser_wavelength*1e-9;
  $scope.focal=$scope.raster*1e-3;
  $scope.angle=$scope.incident_angle/180*Math.PI;
  $scope.m=$scope.diffraction_order;
  $scope.density=(1/$scope.reticle_density)*1e-3;
  $scope.f=$scope.focal_length*1e-3;

  $scope.diffraction=Math.asin($scope.m*$scope.wavelength/$scope.density-Math.sin($scope.angle));
  $scope.diffraction_angle=$scope.diffraction/Math.PI*180;
  $scope.angular=$scope.m/$scope.density/Math.cos($scope.diffraction);
  $scope.angular_resolution=($scope.angular/Math.PI*180)*1e-9;
  $scope.Line_Resolution=($scope.f*$scope.angular)*1e-6;
  $scope.Colour_Resolution=$scope.m*$scope.focal/$scope.density;
  $scope.Resolution_spectrum=$scope.wavelength/$scope.Colour_Resolution*1e9;




          };
        }]);
    </script>






   <!--INPUT-->
 <style>
   fieldset {
     background-color: #e6e6e6;
   }

 </style>

 <!--OUTPUT-->
 <style>
   legend {
     font-size: 180%;
     border-radius: 10px 10px 0 0;
     background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
     background-color: #668cff;
     color: white;
     text-align: center;
   }
 </style>




</style>
</html>
