<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body ng-app="main">
  <div class="row" id="Diffraction_limited" ng-controller="control_panel">


    <div class="col">

    <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
  -->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
  <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Laser Beam Spot Size Calculator</h1><br>

  </div>
  </div>
    </div>

    <div class="col">
      <div id="info_Diffraction_limited" class="collapse">
          <b><p style="text-align:left;">This calculator will help you calculate the Beam diameter at focus, by inputting the $\frac{1}{e^2}$ spot diameter of the collimated Gaussian beam whose wavelength
          is $\lambda$. Together with the diameter of lens $D$ and the focal length $f$. In addition, by adding in the beam quality parameter $M^2$ into the formula will makes the output value more
          accurate.</p>
          <center><img src="image/O3-resize.png" ></center>

        <h2 style="text-align:center;"> ${2w_0}$= $\frac{4M^2 \lambda f }{\pi D}$</h2>
      </b>
      </div><br>



      <fieldset class="input">
        <legend>Input</legend>


        <div class="col">
          <h5>Beam Diameter At Lens, $D$:</h5>
          <div class="input-group">
              <input type="number" class="form-control" ng-model="D" ng-change="myFunc()">
              <span class="input-group-addon">mm</span>
          </div>
        </div>

          <div class="col">
            <h5>Focal Length, $f$: </span></h5>
            <div class="input-group">
                <input type="number" class="form-control" ng-model="fl" ng-change="myFunc()">
                <span class="input-group-addon">mm</span>
            </div>
          </div>



            <div class="col">
              <h5> Wavelength, $\lambda$: </h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="wave" ng-change="myFunc()">
                  <span class="input-group-addon">mm</span>
              </div>
            </div>

              <div class="col">
                <h5>Beam Quality Factor, $M^2$:</h5>
                    <input type="number" class="form-control" ng-model="BQF" ng-change="myFunc()" ><br>
              </div>

        </fieldset><br><br>



            <fieldset class="output">
                <legend>Output</legend>

                    <div class="col">
                      <h5> Beam Diameter At Focus, $w_0$:</h5>
                      <div class="input-group">
                          <input class="form-control" ng-model="BDF" readonly/>
                          <span class="input-group-addon">mm</span>
                      </div><br>
                    </div>


            </fieldset>




<script>
  angular.module('main', [])
    .controller('control_panel', ['$scope', function($scope) {

      $scope.myFunc = function() {
        $scope.diameter = $scope.D/Math.pow(10,3);
        $scope.Focal_Length = $scope.fl/Math.pow(10,3);
        $scope.wavelength = $scope.wave/Math.pow(10,9);
        $scope.BDF=(((4*$scope.BQF*$scope.wavelength*$scope.Focal_Length)/(Math.PI*$scope.diameter))*Math.pow(10,6))/2;
      };
    }]);
</script>





    </div>
</body>

<!---title----->
<style>
  fieldset {
    background-color: #e6e6e6;
  }

</style>

<!--OUTPUT-->
<style>
  legend {
    font-size: 180%;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
    background-color: #668cff;
    color: white;
    text-align: center;
  }
</style>



</html>
