<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
  </script>

    <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


  <title>Optics Calculator</title>







</head>
  <body ng-app="main">



    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
-->

  <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
  <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Single convex lens imaging</h1><br>

  </div>
  </div>

      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse" >
          <b><p style="text-align:left;">This calculator will help you calculate the Relationship between object distance and <br>image distance with one convex lens and magnification. </p></b>
            <center><img src="image/O4-resize.png"></center>
            <p style="text-align:left;" ><br> </p>
              <h2 style="text-align:center;"> $M$=$\frac{V}{U}$  &nbsp;&nbsp;&nbsp;&nbsp; $\frac{1}{U}$+$\frac{1}{V}$=$\frac{1}{f}$</h2><br>
              <p style="text-align:left;">Object Distance <b>U</b>; Focal Length <b>f</b>Image Distance <b>V</b>; Magnification <b>M</b></p>
            </b>    </div><br>

      <fieldset class="input">
        <legend><b>Input</b></legend>
          <div class="col">
            <h5>Object Distance, <b>U</b>:</h5>
          <div class="input-group">
              <input type="number" class="form-control" ng-model="Odistance" ng-change="myFunc()">
              <span class="input-group-addon">mm</span>
            </div>
          </div>
          <div class="col">
            <h5> Focal Length, <b>f</b>: </span></h5>
          <div class="input-group">
              <input type="number" class="form-control" ng-model="length" ng-change="myFunc()">
              <span class="input-group-addon">mm</span>
            </div><br>
          </div>





      <br>
      </fieldset><br><br><br>

        <fieldset class="output">
          <legend><b>Output</b></legend>

            <div class="col">
              <h5>Image Distance, <b>V</b>:</h5>
                      <div class="input-group">
                          <input class="form-control" ng-model="Idistance" readonly/>
                          <span class="input-group-addon">m</span>
              </div>
            </div>

            <div class="col">
              <h5>Magnification, <b>M</b>:</h5>
                        <input class="form-control" ng-model="magnification" readonly/>
            </div>

            <div class="col">
              <h5>Type of image:</h5>
                        <input class="form-control" ng-model="image" readonly/><br>
              </div>


      </fieldset><br><br><br><br><br>
    </div>



  </body>



  <script>
    angular.module('main', [])
      .controller('control_panel', ['$scope', function($scope) {

        $scope.myFunc = function() {
          $scope.uf=1/$scope.Odistance-1/$scope.length;
          $scope.Idistance=1/$scope.uf;
          $scope.magnification=Math.abs($scope.Idistance/$scope.Odistance);
          if($scope.Odistance<$scope.length){$scope.image="Virtual Image"};
          if($scope.Odistance>$scope.length){$scope.image="Real Image"};

        };
      }]);
  </script>





   <!--INPUT-->
 <style>
   fieldset {
     background-color: #e6e6e6;
   }

 </style>

 <!--OUTPUT-->
 <style>
   legend {
     font-size: 180%;
     border-radius: 10px 10px 0 0;
     background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
     background-color: #668cff;
     color: white;
     text-align: center;
   }
 </style>




</style>
</html>
