<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/calculator.css">
  <link rel="stylesheet" type="text/css" href="/WebShop/css/calculator.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>

</head>
  <body ng-app="main">

    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">

      <!--  <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-collapse-down"></span></small></h1>
    -->

    <div class="banner" data-toggle="collapse" data-target="#info_Diffraction_limited" class="btn btn-default btn-sm">
    <div class="banner-content">
    <h1 class="title"> <span class="fa fa-chevron-down"></span>&nbsp;&nbsp;Radius of Beam Waist</h1><br>

    </div>
    </div>
      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse">
          <p style="text-align:left;">This calculator will help you calcaulate the radius of the beam waist after the laser passes through the convex lens</p></center>
          <center><img src="image/O7-resize.png">
            <b><h2 style="text-align:center;"> $w$=$\frac{\lambda F}{ \pi w_0}$ </h2><br></b>
            <p style="text-align:left;">Laser Wavelength <b>$\lambda$</b>; Focal Length of Lens <b>$F$</b>; Input Laser Radius <b>$w_0$</b>; Output Laser Wasit Radius <b>$w$</b></p>

        </div><br>



      <fieldset class="input">
        <legend>Input</legend>


          <div class="col">
            <h5>Laser Wavelength, $\lambda$:</h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="wavel" ng-change="myFunc()">
                <span class="input-group-addon">mm</span>
            </div>
          </div>
            <div class="col">
              <h5>Focal Length of Lens, $F$:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="focal_length_mm" ng-change="myFunc()">
                  <span class="input-group-addon">mm</span>
              </div><br>
            </div>



          <div class="col">
            <h5>Input Laser Radius, $w_0$:</h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="Laser_Radius" ng-change="myFunc()">
                <span class="input-group-addon">mm</span>
            </div><br>
          </div>

      </fieldset><br>

        <fieldset class="output">
          <legend>Output</legend>

              <div class="col">
                <h5>Output Laser Waist Radius, $w$:</h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="output" readonly/>
                    <span class="input-group-addon">mm</span>
                </div><br>
              </div>

      </fieldset>
    </div>
  </body>




  <script>
    angular.module('main', [])
      .controller('control_panel', ['$scope', function($scope) {



        $scope.myFunc = function() {
          $scope.focal_length=$scope.focal_length_mm*1e-3;
          $scope.wavelength=$scope.wavel*1e-9;
          $scope.radius=$scope.Laser_Radius*1e-3;
         $scope.output= (($scope.wavelength*$scope.focal_length)/(Math.PI*$scope.radius))*1e6;

        };
      }]);
  </script>









    <!---title----->
    <style>
      fieldset {
        background-color: #e6e6e6;
      }

    </style>

    <!--OUTPUT-->
    <style>
      legend {
        font-size: 180%;
        border-radius: 10px 10px 0 0;
        background-image: linear-gradient(to  bottom  , lightblue,#03448c 90%);
        background-color: #668cff;
        color: white;
        text-align: center;
      }
    </style>



    </html>
