<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},displayAlign: "center"});
</script>

  <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


  <title>Optics Calculator</title>







</head>
  <body ng-app="main">


    <div class="row" id="Diffraction_limited" ng-controller="control_panel">


      <div class="col">
        <ul  style="list-style-type:none;">
         <li class="logo"><a href="main.html"><img src="image/Simtrum.jpg"></a></li>
        </ul>
        <h1 class="title">Diffraction-limited angular resolution<small><span data-toggle="collapse" data-target="#info_Diffraction_limited" class="glyphicon glyphicon-info-sign info-glyph"></span></small></h1>

      </div>

      <div class="col">
        <div id="info_Diffraction_limited" class="collapse" >
          <p style="text-align:left">This calcaulator will help you computes the radiance of a laser beam propagating in a multi-mode or double-clad optical fiber</p>
          <b><h2 style="text-align:left;"> $\theta$ = arcsin(NA) </h2></b>
          <b><h2 style="text-align:left;"> $\Omega$ = $\pi$NA$^2$ &nbsp;&nbsp;&nbsp;&nbsp; $\Omega$ = 2$\pi$(1-cos$\theta$)</h2></b>
          <b><h2 style="text-align:left;"> A = $\pi\frac{D^2}{4}$  &nbsp;&nbsp;&nbsp;&nbsp; R = $\frac{P}{A\Omega}$</h2></b>
          <p style="text-align:left;">Optical Power, <b>P</b>; Fiber Core Diameter, <b>D</b>; Fiber Numerical Aperture, <b>NA</b></p>
          <p style="text-align:left;">Beam's Divergence Solid Angle, <b>$\Omega$</b>; Fiber Core Area, <b>A</b>; Radiance, <b>R</b></p>
      </div><br>

      <fieldset class="input">
        <legend><b>Input</b></legend>

        <div class="row bottom_align_row">
          <div class="col-xs-5">
            <h5>Optical Power, P: </h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="Optical" ng-change="myFunc()">
                <span class="input-group-addon">W</span>
            </div><br>
          </div>
          <div class="col-xs-5">
            <h5>Fiber Core Diameter, D: </h5>
            <div class="input-group">
                <input  type="number" class="form-control" ng-model="diameter" ng-change="myFunc()">
                <span class="input-group-addon">µm</span>
            </div>
          </div>
        </div>
          <div class="row bottom_align_row">
            <div class="col-xs-5">
              <h5>Fiber Numerical Aperture:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="NA" ng-change="myFunc()">
                  <span class="input-group-addon"></span>
              </div><br>
            </div><br>
        </div>
      </fieldset><br>

        <fieldset class="output">
          <legend><b>Output</b></legend>
          <div class="row bottom_align_row">
              <div class="col-xs-5">
                <h5>Beam's Divergence Solid Angle, $\Omega$:</h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="ohm" readonly/>
                    <span class="input-group-addon">Steradian (sr)</span>
                </div>
              </div>
              <div class="col-xs-5">
                <h5>Fiber Core Area, A:</h5>
                <div class="input-group">
                    <input type="number" class="form-control" ng-model="Area" readonly/>
                    <span class="input-group-addon">µm$^2$</span>
                </div>
              </div>
          </div>

          <div class="row bottom_align_row">
            <div class="col-xs-5">
              <h5>Radiance R:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="Radiance" readonly/>
                  <span class="input-group-addon">W/(cm$^2$ sr)</span>
              </div>
            </div>
            <div class="col-xs-5">
              <h5>angle $\theta$:</h5>
              <div class="input-group">
                  <input type="number" class="form-control" ng-model="radian" readonly/>
                  <span class="input-group-addon">radian</span>
              </div>
            </div>
        </div><br>
      </fieldset>
    </div>
  </body>



  <script>
    angular.module('main', [])
      .controller('control_panel', ['$scope', function($scope) {



        $scope.myFunc = function() {
          $scope.Diameter=$scope.diameter*1e-6


          $scope.radian=Math.asin($scope.NA);
          $scope.ohm=Math.PI*Math.pow($scope.NA,2);
          $scope.Area=(Math.PI*Math.pow($scope.Diameter,2)/4)*1e12;
          $scope.Radiance=($scope.Optical/($scope.Area*$scope.ohm))*1e5;


        };
      }]);
  </script>











   <!--INPUT-->
 <style>
   fieldset.input {
     background-color: #cccccc;
   }

   legend {
     background-color: gray;
     color: white;
     padding: 4px 10px;
   }
 </style>

 <!--OUTPUT-->
 <style>
   fieldset.output {
     background-color: #cccccc;
   }

   legend {
     background-color: gray;
     color: white;
     text-align: center;
     padding: 4px 10px;
   }
 </style>



</style>
</html>
